.App {
  text-align: center;
}

.App-link {
  color: #298c42;
}

.table {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.inline {
  display: inline;
}

.container {
  background-color: white;
  padding: 12px;
}

.list-group {
  padding: 18px;
}

.btn {
  padding: auto;
}
.form-select {
  padding: 15px;
  padding-bottom: 15px;
}

.bg {
  background-image: url(/Users/mariallaverias/Desktop/CodeOp/MVP/Best-Deal-MVP/client/public/ORFF0J0.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body,
html {
  height: 100%;
  margin: 0;
}
img {
  width: 200px;
  height: 200px;
}
.table-logo {
  width: 100px;
  height: 100px;
}
